.form_container {
  margin: 4rem 6rem;
}

.form_container form {
  padding-top: 3rem;
  display: flex;
  flex-direction: column;
  width: 60%;
  margin: auto;
}

.form_container label {
  margin-bottom: 0.6em;
  font-weight: bold;
}

.form_container input {
  width: 250%;
  padding: 0.5em;
  margin-bottom: 1rem;
  border-radius: 0;
  border: none;
}

.form_container textarea {
  width: 250%;
  height: 10rem;
  padding: 0 1rem;
  margin-bottom: 2rem;
  border-radius: 0;
  border: none;
  display: block;
}

.form_container button {
  display: inline;
  margin-bottom: 1rem;
}

.img {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 40%;
}
